apiVersion: aadpodidentity.k8s.io/v1
kind: AzureIdentity
metadata:
    name: ${identityName}
spec:
    type: 0
    resourceID: ${identityId}
    clientID: ${identityClientId}
---
apiVersion: aadpodidentity.k8s.io/v1
kind: AzureIdentityBinding
metadata:
    name: ${identityName}-binding
spec:
    azureIdentity: ${identityName}
    selector: azure-kv